# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=devuser
MONGO_INITDB_ROOT_PASSWORD=devpassword
MONGO_INITDB_DATABASE=note_workspace_db
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_URI=mongodb://devuser:devpassword@localhost:27017/note_workspace_db?authSource=admin